
<div class="row form-horizontal">
	<div class="span6 offset3">
		<h1>Find a Game</h1>
		<%= form_tag root_path, :method => 'get' do %>
			<p>
				<%= text_field_tag :, params[:search] %>
				<%= submit_tag "Search", :name => nil, class: "btn btn-medium"%>
			</p>
		<% end %>
		<%= link_to "New Game", new_path, class: "btn btn-large btn-primary" %>
	</div>
</div>